.nav {
    grid-area: nav;
    background-color: darkslategrey;
    padding: 20px;
}

.item {
    color: beige;
    text-decoration: none;
}

.active {
    color: cornflowerblue;
    text-decoration: none;
}